body {
    font-size: 18px ;
    font-family: cursive;
}

header, footer {
    background-color: cornflowerblue;
}
nav li{
    list-style: none;
}

nav li a {
    text-decoration: none;
    background-color: rgb(253, 172, 212);
    border: 2px solid hotpink;
}
nav li a:hover, :focus {
    background-color: rgb(241, 67, 157);
}

.site-title {
   color: rgb(3, 54, 149);
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

.hobbies li{
    list-style-type: square;
}
.hobbies li:nth-child(odd){
    background-color: rgb(149, 182, 244);
}


