body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
header, footer{
    background-color: blueviolet;
}
.site-title {
    color:aquamarine;
}
#my-image{
    box-shadow: 0 0 2px 1px coral;
}
ul{
    list-style: square;
}
li:nth-child(odd){
    background-color: aquamarine;
}
.nav{
    list-style: none;
}
.nav a{
    text-decoration: none;
    background-color: beige;
    border: solid 1px cornflowerblue
}
.nav a:hover{
    text-decoration: none;
    background-color: cyan;
    border: solid 1px cornflowerblue
}
